.sidebar-main {
  background-color: #d8eefe;
  color: #094067;
  transition: width 0.3s;
  transition: width 0.3s;
  margin: 5%;
  border-radius: 5%;
  box-shadow: small;
}

/* .sidebar-text{
    color:#001858;
} */
.nav-link {
  color: #094067;
  font-weight: 500;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #3da9fc;
  }

  &.active {
    background-color: #1d5084 !important;
    color: #fff !important;
    font-weight: 600;
  }
}

.logout-btn {
  color: #094067;
}
